<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home Component</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <template id="home-template">
        <div id="backgroundgif">
            <img src="../img/ezgif-3-cc664e5c34.gif" alt="home">
        </div>
        <div id="home">
            <div id="homecontent">
                <h1>WELCOME !</h1>
                <p>This website is entire made by me in order to present you myself , what i've done and also what i'm doing.</p>
                <h4>Enjoy your visit !</h4>
            </div>
        </div>
    </template>
</body>
</html>