:root {
    --bleu-royale: #4169E1;
    --orange-vif: #FE9553;
    --lavende: #E1DEE9;
    --noir:#000300;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#backgroundgif img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#homecontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}