:root {
    --bleu: #2596BE;
    --vert-menthe: #98FF98;
    --lavende: #E1DEE9;
}

#navbardiv{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding: 10px 0px;
    padding-right: 20px;
    margin: 0;
    @media screen and (max-width: 600px){
        padding: 6px 0px;
        
    }
}

#navbarlinks{
    @media screen and (max-width: 600px){
        display: none;
    }
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    margin: 0 10px;
}

li a {
    text-decoration: none;
    color: var(--bleu);
    font-weight: bold;
    text-shadow: 
        1px 1px 0 var(--lavende),
        -1px -1px 0 var(--lavende),
        1px -1px 0 var(--lavende),
        -1px 1px 0 var(--lavende),
        1px 0 0 var(--lavende),
        -1px 0 0 var(--lavende),
        0 1px 0 var(--lavende),
        0 -1px 0 var(--lavende);
}

li img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding-right: 160px;
    @media screen and (max-width: 600px){
        width: 70px;
        height: 70px;
    }
}
