:root {
    --bleu-royale: #4169E1;
    --orange-vif: #FE9553;
    --lavende: #E1DEE9;
    --noir:#000300;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:var(--bleu-royale);
    margin: 0;
    padding: 0;
    text-decoration: bold;
    font-size: 18px;
    @media screen and (max-width: 600px){
        font-size: 10px;
    }
}