:root {
    --bleu: #2596BE;
    --vert-menthe: #98FF98;
    --lavende: #E1DEE9;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: var(--lavende);
    color:var(--bleu);
    margin: 0;
    padding: 0;
    text-decoration: bold;
    font-size: 18px;
    @media screen and (max-width: 600px){
        font-size: 10px;
    }
}